<h1>Hi <%= name %></h1>
<h2>Email: <%= email %></h2>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<a href="/user">Update</a>
<a href="/dashboard">Dashboard</a>
